ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
h1, h2{
  text-align: center;
}

.note{
  text-align: center;
  padding: 10px;
}
p{
  color: red;
}
